<%# Flash messages %>
<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice">
    <%= notice %>
  </p>
<% end %>

<%# Heading %>
<h1 class="font-bold text-2xl text-center">Task Manager</h1>

<%# Form %>
<section>
  <%= render "form", task: @task %>
</section>

<%# Tasks %>
<section id="tasks" class= "grid justify-items-center gap-5">
  <h1 class="font-bold text-lg mb-">Tasks</h1>

  <div data-controller="tasks" class="grid gap-4">
    <%= render @tasks %>
  </div>
</section>
