<div class="flex justify-center">
  <%= link_to :back, class: "group flex items-center gap-1 sm:gap-2 xl:gap-3 text-primary-600 dark:text-primary-500" do %>
    <%= render "shared/svg/left_arrow" %>
    <span class="text-lg sm:text-xl xl:text-2xl font-semibold tracking-wide group-hover:underline group-hover:underline-offset-4">Back</span>
  <% end %>
</div>