<% flash.each do |type, message| %>
    <div
        id="flash"
        class="fixed top-0 right-0 left-0 z-50 transition transform duration-1000 flex justify-between text-sm lg:text-base p-3 <%= css_class_for_flash(type) %>"
        role="alert"
        data-turbo-temporary
        data-controller="flash"
        data-flash-delay-value="<%= delay_flash(message) %>"
        data-transition-enter-from="opacity-0 -translate-y-6"
        data-transition-enter-to="opacity-100 translate-y-0"
        data-transition-leave-from="opacity-100 translate-y-0"
        data-transition-leave-to="opacity-0 -translate-y-6"
    >
        <div class="flex-1 grid gap-2 grid-flow-col place-content-center">
            <%# flash svg icon %>
            <div class="flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="h-5 w-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d= "<%= icon_for_flash(type) %>" />
                </svg>
            </div>

            <%# flash message %>
            <p class="font-medium"><%= message %></p>
        </div>

        <%# clsoe svg button %>
        <button class="ml-2" data-action="flash#hide">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="h-5 w-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
        </button>
    </div>
<% end %>
