<div class="flex gap-4">
  <%= image_tag("logo.png", class: "w-8 h-8 sm:w-10 sm:h-10 lg:w-12 lg:h-12", alt: "logo") %>
  <span class="text-3xl sm:text-4xl lg:text-5xl font-semibold bg-gradient-text-clip">
    TickityTick
  </span>
</div>