<% if current_user %>
  <nav class=" hidden md:block sticky top-0 z-50 bg-primary-50/50 backdrop-blur-sm dark:bg-gray-900/60">
    <div class="max-w-screen-sm xl:max-w-screen-lg flex flex-wrap items-center justify-between mx-auto p-2">

    <%# Logo %>
    <div class="flex items-center space-x-3 rtl:space-x-reverse">
        <%= image_tag "logo.png", class: "w-8 h-8", alt: "TickityTick Logo" %>
        <span class="self-center text-2xl font-semibold whitespace-nowrap text-primary-900 dark:text-primary-50">TickityTick</span>
    </div>

    <%# Dropdown profile menu %>
    <div class="flex items-center relative" data-controller="dropdown" >
        <%# Profile button%>
        <button type="button" class="flex text-sm bg-primary-200/80 dark:bg-gray-700 rounded-full p-2 me-0 focus:ring-2 focus:ring-primary-800 dark:focus:ring-primary-600" id="user-menu-button" aria-expanded="false" data-action="dropdown#toggle click@window->dropdown#hide">
          <span class="sr-only">Open user menu</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 stroke-2 stroke-primary-800 fill-none dark:stroke-primary-50">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
          </svg>
        </button>

        <!-- Dropdown menu -->
        <div
          id="user-dropdown"
          class="z-50 hidden transition transform absolute origin-top-right right-0 top-10 my-4 text-base list-none bg-primary-100 divide-y divide-secondary-600 rounded-lg shadow-lg dark:bg-gray-700 dark:divide-gray-600"
          data-dropdown-target="menu"
          data-transition-enter-from="opacity-0 scale-95"
          data-transition-enter-to="opacity-100 scale-100"
          data-transition-leave-from="opacity-100 scale-100"
          data-transition-leave-to="opacity-0 scale-95"
        >
          <div class="px-4 py-3">
            <span class="block text-sm text-secondary-800/50 truncate dark:text-gray-400"><%= current_user.email %></span>
          </div>
          <ul class="py-2" aria-labelledby="user-menu-button">
            <li>
              <%= link_to "Update Profile",
                edit_user_registration_path,
                class: "block px-4 py-2 text-secondary-800 hover:bg-primary-200 dark:hover:bg-primary-700 dark:text-gray-200 dark:hover:text-secondary-50",
                data_action: "dropdown#toggle"
              %>
            </li>
            <li>
              <%= link_to "Sign out",
                destroy_user_session_path,
                'data-turbo-method': :delete,
                class: "block px-4 py-2 text-red-700 hover:bg-red-200 dark:hover:bg-red-600 dark:text-red-400 dark:hover:text-red-50",
                data_action: "dropdown#toggle"
              %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
<% end %>