<div class="flex flex-col sm:flex-row sm:justify-center">
  <%= link_to  new_user_session_path, class: "inline-flex items-center justify-center px-5 py-3 capitalize leading-none text-base md:text-lg xl:text-xl font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900 shadow-xl dark:shadow-md shadow-secondary-600/40 dark:shadow-secondary-500/35 focus:shadow-none hover:shadow-none transition duration-750 hover:translate-y-1 dark:hover:translate-y-0.5" do %>
    <%= message %>
  <%= render "shared/svg/right_arrow" %>
  <% end %>
</div>