@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.titillium {
		font-family: "Titillium Web", sans-serif;
	}
}

@layer components {
	.field_with_errors {
		@apply !w-full;
	}
	.form-layout {
		@apply w-full bg-primary-100 rounded-lg shadow border border-primary-300 dark:border-secondary-700 md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800;
	}
	.form-label {
		@apply block mb-2 text-sm font-medium text-secondary-900 dark:text-secondary-100;
	}

	.form-input {
		@apply bg-gray-50 border border-secondary-400 text-secondary-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 placeholder:text-secondary-400 dark:bg-gray-700 dark:border-secondary-600 dark:placeholder-secondary-50/50 dark:focus:bg-gray-800 dark:focus:placeholder-secondary-300/30 dark:text-secondary-100 dark:focus:ring-primary-500 dark:focus:border-primary-500;
	}

	.form-checkbox {
		@apply w-4 h-4 lg:size-5 border-2 border-secondary-600 rounded bg-primary-200 focus:ring focus:ring-primary-300 dark:bg-primary-400/15 dark:border-secondary-600 dark:focus:ring-primary-600 dark:ring-offset-primary-800 checked:bg-primary-500 checked:hover:bg-primary-500 checked:focus:bg-primary-500 cursor-pointer;
	}

	.form-submit {
		@apply w-full text-wrap text-secondary-50 font-bold bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 rounded-lg px-5 py-2.5 text-center dark:focus:ring-primary-800 cursor-pointer transition transform duration-500;
	}

	.divider {
		/* 28rem comes from 'md' screen size width */
		/* since we can't dynamically calc as '[md+5rem]'  */
		@apply h-px w-full sm:w-[calc(75%+5rem)] md:max-w-[calc(28rem+5rem)] lg:max-w-[calc(28rem+10rem)] mx-auto bg-primary-300 border-0 dark:bg-primary-700;
	}

	.link {
		@apply font-medium text-primary-600 hover:underline hover:underline-offset-4 dark:text-primary-500;
	}
}
